
body {
    background-color: #f5edf1;
}
/* header text color  */
.text-color {
    color: #0d6efd;
}
/* card section  */
.card-section {
    text-align: center;
}

.card-section img {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 20px;
}
/* details image section  */
.image {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 150px;
    height: 170px;

}